<h1>You already submitted this form</h1>
<a asp-action="DownloadApplicationForm" asp-controller="Application" asp-area="Student">Download it from here</a>

<a asp-action="ApplicationForm_Final_Upsert" asp-area="Student" asp-controller="Application">Send the file to your coordinator</a>
