<head>
    <link rel="stylesheet" href="~/css/Style.css asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CareerCenter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Announcements.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DataTable.css" asp-append-version="true" />

    <title>Events list</title>
</head>
<section class="announcements">
    <div class="annbox">
        <h3>Announcements</h3>
        <div class="announs">
            <a class="announ1" href="Announ1.html" id="announ1">
                <h2 class="title1">Announcement Title</h2>
                <p class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fuga sed mollitia?</p>
            </a>
            <a class="announ2" href="Announ2.html" id="announ2">
                <h2 class="title2">Announcement Title</h2>
                <p class="text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fuga sed mollitia?</p>
            </a>
            <a class="announ3" href="Announ3.html" id="announ3">
                <h2 class="title3">Announcement Title</h2>
                <p class="text3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fuga sed mollitia?</p>
            </a>
            <a class="announ4" href="Announ1.html" id="announ4">
                <h2 class="title4">Announcement Title</h2>
                <p class="text4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fuga sed mollitia?</p>
            </a>
            <a class="announ5" href="Announ2.html" id="announ5">
                <h2 class="title5">Announcement Title</h2>
                <p class="text5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fuga sed mollitia?</p>
            </a>
            <a class="announ6" href="Announ3.html" id="announ6">
                <h2 class="title6">Announcement Title</h2>
                <p class="text6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fuga sed mollitia?</p>
            </a>
        </div>
    </div>
</section>