@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Internship.Models;
@using Internship.Utility;
@model IEnumerable<Announcement>


<head>
    <link rel="stylesheet" href="~/css/Style.css asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Coordinator.css" asp-append-version="true" />

    <title>Coordinator</title>
</head>


<section class="inter-coordin">

    <div class="left-side">
        <a class="afa left-side-w" asp-action="AFA" asp-controller="Coordinator">
            <img src="~/img/1.png" height="55px" id="let1">

            <h3>Application Form Approval</h3>
        </a>
        <a class="letter-req left-side-w" asp-action="AFA" asp-controller="Coordinator">
            <img src="~/img/3.png" height="50px" id="mail1">

            <h3>Letter Request</h3>
        </a>
    </div>



    <div class="containerIntern">
        <h3>Announcements</h3>

        <div class="announcements">

            @foreach (var Announcements in Model.OrderByDescending(p => p.DatePosted).ToList().Take(3))
            {
                <a class="announcement1-block text" href="Announ1.html" id="ann1">
                    <h2>@Announcements.Subject</h2>
                    <p class="myParagraph">
                        @if (Announcements.Content.Length > 36)
                        {
                            @Html.Raw(Announcements.Content.Substring(0, 36)+"..")
                            
                            }
                        else
                        {
                            @Html.Raw(Announcements.Content)
                        }
                    </p>
                </a>
            }
            
           
        </div>



        <li><a asp-action="Announcements" asp-controller="Coordinator" id="checkall">Check all --> </a></li>
    </div>
</section>

@section Scripts {
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


}