<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="img/webIcon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/guide.css" rel="stylesheet" />

</head>

<body>
  
        <!-- ----------side menu bar---------- -->
     
            

                <section class="Account-Content">

        <img id="Guidebackgroudn" src="~/img/Group 7844.png" width="100%" alt="">
                    <div class="Dashboardscontainer">

                        <div class="Dashboarddiv">
                            <h3>Dashboard</h3>
                            <p>
                                Fill Out the application form and sign it from the institution you are going to work with
                            </p>
                            <a href="#">Dashboard Tutorial</a>
                        </div>
                        <div class="Dashboarddiv">
                            <h3>Dashboard</h3>
                            <p>
                                Fill Out the application form and sign it from the institution you are going to work with
                            </p>
                            <a href="#">Dashboard Tutorial</a>
                        </div>
                        <div class="Dashboarddiv">
                            <h3>Dashboard</h3>
                            <p>
                                Fill Out the application form and sign it from the institution you are going to work with
                            </p>
                            <a href="#">Dashboard Tutorial</a>
                        </div>
                        <div class="Dashboarddiv">
                            <h3>Dashboard</h3>
                            <p>
                                Fill Out the application form and sign it from the institution you are going to work with
                            </p>
                            <a href="#">Dashboard Tutorial</a>
                        </div>
            </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="JS/app.js"></script>
</body>

</html>