


<head>
    <link rel="icon" href="~/img/webIcon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Account</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Support.css" asp-append-version="true" />

</head>


<section class="supportSide">
    <div class="questionBackground">
        <div class="question">
            <p> I Have a <span>Question</span> </p>
            <div class="writeQuestion">
                <form action="#" class="search-bar">
                    <input type="text" placeholder="Whrite your question..." name="q">
                    <button type="submit"><img src="img\sendMessamg-Symbol.png" alt=""></button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="wholeDropDownWithTitle">
    <h2 class="Frequently">Frequently Asked Questions</h2>

    <section class="dropdownQuestions">
        <div class="question-and-answer1">
            <div class="question1">
                <p>Where can I get detailed information about Üsküdar University?</p>
                <img id="down-arrow1" src="img\Dowm-arrow.png" alt="" width="25.9px" height="14.8px">
            </div>
            <div class="answer1">
                <p>
                    You can reach us from +90 216 400 22 22 or send us an e-mail to info@uskudar.edu.tr.
                    You may also contact us by filling in the Communication Form.
                </p>
            </div>
        </div>
        <div class="question-and-answer2">
            <div class="question2">
                <p>Where can I get detailed information about Üsküdar University?</p>
                <img id="down-arrow2" src="img\Dowm-arrow.png" alt="" width="25.9px" height="14.8px">
            </div>
            <div class="answer2">
                <p>
                    You can reach us from +90 216 400 22 22 or send us an e-mail to info@uskudar.edu.tr.
                    You may also contact us by filling in the Communication Form.
                </p>
            </div>
        </div>
        <div class="question-and-answer3">
            <div class="question3">
                <p>Where can I get detailed information about Üsküdar University?</p>
                <img id="down-arrow3" src="img\Dowm-arrow.png" alt="" width="25.9px" height="14.8px">
            </div>
            <div class="answer3">
                <p>
                    You can reach us from +90 216 400 22 22 or send us an e-mail to info@uskudar.edu.tr.
                    You may also contact us by filling in the Communication Form.
                </p>
            </div>
        </div>
        <div class="question-and-answer4">
            <div class="question4">
                <p>Where can I get detailed information about Üsküdar University?</p>
                <img id="down-arrow4" src="img\Dowm-arrow.png" alt="" width="25.9px" height="14.8px">
            </div>
            <div class="answer4">
                <p>
                    You can reach us from +90 216 400 22 22 or send us an e-mail to info@uskudar.edu.tr.
                    You may also contact us by filling in the Communication Form.
                </p>
            </div>
        </div>
</div>