
<head>
    <link rel="icon" href="img/webIcon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Success</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/success.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href=".css">

</head>


<section class="Account-Content">
    <div class="success-box" id="popup-div">
        <img src="~/img/support-symbol-selected.png" class="img2">
        <h1>Successfully submitted</h1>
        <div class="alert-btns">
           

            <a asp-action="Index" asp-controller="Careercenter" class="yes btn" type="submit" id="Ok">Ok</a>
          
        </div>
    </div>

</section>