@model IEnumerable<InternshipJob>


<head>
    <link rel="stylesheet" href="~/css/Internshipjob.css" asp-append-version="true" />


</head>

<section class="Internships">
    <!-- Internship Search and filters -->
    <div class="Filter-Internship">

        <div class="Search-Input">
            <img src="~/img/SearchIcon.png" height="16px" alt="SearchIcon">
            <input type="text" id="search-input" placeholder="Search by title, skill, or company">
        </div>

        <div>
            <select name="" id="">
                <option value="" disabled selected>Job Type</option>
                <option value="">Part-Time</option>
                <option value="">Full-Stack</option>
            </select>
        </div>

        <div>
            <select name="" id="">
                <option value="" disabled selected>On-Site/Remote</option>
                <option value="">On-Site</option>
                <option value="">Remote</option>
                <option value="">Hybrid</option>
            </select>
        </div>


    </div>



</section>
            </div>

<div>
    <!-- Content Container -->
    <div class="Internship-Container">
        <!-- All Internship offers left side -->
        <div class="Left-Internship-Links">
            
            @foreach (var InternshipJob in Model)
            {
                <div class="Internship-Link">

                    <div class="Title-img">
                        <img src="@InternshipJob.ImageUrl" height="40px" alt="">
                        <div class="text-img">
                            <h3>@InternshipJob.JobTitle</h3>
                            <p>@InternshipJob.CompanyName</p>
                        </div>
                    </div>


                    <div class="location-img">
                        <img src="~/img/location-symbol.png" alt="">
                        <p class="text-img">@InternshipJob.Location</p>
                    </div>
                </div>
                <hr>
            }

        

        </div>

        <!-- Internship Description-->
        <div class="Internship-Details">
            <div class="Internship-Details-Margin">
                <div class="job-header">
                    <div class="Title-Details">
                        <h3>C/C++ Developer</h3>
                        <p>Luxoft - Istanbul, Turkey (On-site) - 12 hours ago - Over 120 applications</p>
                    </div>


                    <div class="Type-Skills">

                        <div class="Filters">
                            <img src="~/img/suitCase.png" height="30px" alt="">
                            <p>Full-Time</p>
                        </div>

                        <div class="Filters">
                            <img src="~/img/CheckList.png" height="30px" alt="">
                            <p>Skills : C, C++</p>
                        </div>

                    </div>

                    <div class="call-to-action-btn">

                        <a href="">Apply</a>

                        <button>
                            <p>Save </p> <img src="~/img/save-symbol-gray.png" height="16px" alt="">
                        </button>

                    </div>

                </div>
                <hr>
                <div class="About-job">
                    <h4>About the job:</h4>
                    <p>
                        Responsibilities :
                        Embedded SW Integration for functional, regression and scenario-based testing
                        VECU software development and integration for Simics and QEMU environment
                        (Virtualization and Emulation)
                        Orchestration of virtual ECU components using container and VM technology
                        Doing low (binary) level debugging
                        SW build and configuration including CI/CD pipeline configuration
                        Contribute to software architecture design, development of software applications and
                        integration into enterprise systems
                        Interact with teams of engineers from multiple disciplines
                        Develop and verify software based on the requirements
                        Perform demos for business stakeholders and ensure software meets their requirements
                        Requirements processing, development of the SW Desing, Coding of solutions, support in
                        integration;

                        Skills
                        Must have
                        Strong C++, understanding of SW Lifecycle, understanding of integration process, Good SW
                        Architecture knowledge, BUS know how (CAN, Ethernet, LIN, FlexRay)
                        Orchestration of virtual ECU components using container and VM technology
                        Doing low (binary) level debugging
                        SW build and configuration including CI/CD pipeline configuration
                        Contribute to software architecture design, development of software applications and
                        integration into enterprise systems
                        Interact with teams of engineers from multiple disciplines
                        Develop and verify software based on the requirements
                        Perform demos for business stakeholders and ensure software meets their requirements
                        Requirements processing, development of the SW Desing, Coding of solutions, support in
                        integration;

                        Skills
                        Must have
                        Strong C++, understanding of SW Lifecycle, understanding of integration process, Good SW
                        Architecture knowledge, BUS know how (CAN, Ethernet, LIN, FlexRay)
                        Orchestration of virtual ECU components using container and VM technology
                        Doing low (binary) level debugging
                        SW build and configuration including CI/CD pipeline configuration
                        Contribute to software architecture design, development of software applications and
                        integration into enterprise systems
                        Interact with teams of engineers from multiple disciplines
                        Develop and verify software based on the requirements
                        Perform demos for business stakeholders and ensure software meets their requirements
                        Requirements processing, development of the SW Desing, Coding of solutions, support in
                        integration;

                        Skills
                        Must have
                        Strong C++, understanding of SW Lifecycle, understanding of integration process, Good SW
                        Architecture knowledge, BUS know how (CAN, Ethernet, LIN, FlexRay)
                        Orchestration of virtual ECU components using container and VM technology
                        Doing low (binary) level debugging
                        SW build and configuration including CI/CD pipeline configuration
                        Contribute to software architecture design, development of software applications and
                        integration into enterprise systems
                        Interact with teams of engineers from multiple disciplines
                        Develop and verify software based on the requirements
                        Perform demos for business stakeholders and ensure software meets their requirements
                        Requirements processing, development of the SW Desing, Coding of solutions, support in
                        integration;

                        Skills
                        Must have
                        Strong C++, understanding of SW Lifecycle, understanding of integration process, Good SW
                        Architecture knowledge, BUS know how (CAN, Ethernet, LIN, FlexRay)
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>