@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@{
    Layout = null;
}
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/forgot.css" rel="stylesheet" />





<div class="container">
    <form class="forgetPassCont">

        <div class="title">
            <img src="~/img/logo.png" width="120px">
        </div>
        <p id="Forgetpass">Forgot your password?</p>
        <p id="Enterpass">Enter your Email and we well send you a link to reset your password</p>
        <div id="EmailInput">
            <label for="">Email</label>
            <input type="email">
        </div>
        <button>Submit</button>
    </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
