@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<head>
    <link rel="icon" href="~/img/webIcon.png">

    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CareerCenter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DataTable.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
</head>



<div class="row">
    <div class="col-md-4">
        <div class="containers ">
            <div class="inputs ">
                <div id="Add-User-btn" class="widget-right-side">
                    <p>Add User</p>
                    <img src="~/img/CareerCenter/AddUser.png" height="45px" alt="">
                </div>
                <form class="RegisterForm" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" onsubmit="return validateForm();">
                   

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- First Slide -->
                    <div id="first-slide">
                        <div class="form-floating py-2 col-6">
                            <select id="Input_Role" asp-for="Input.Role" asp-items="@Model.Input.RoleList" class=form-select>
                                <option disabled selected>-Select Role-</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-floating">
                            <label asp-for="Input.Email">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="Two-Inputs-line">
                            <div class="form-floating">
                                <label asp-for="Input.Password">Password</label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-floating">
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="inputQue Two-Inputs-line">
                            <div class="form-floating">
                                <label asp-for="Input.Name">Name</label>
                                <input asp-for="Input.Name" id="Input_Name" id="Input_PhoneNumber" class="form-control" />
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-floating">
                                <label asp-for="Input.PhoneNumber">Phone Number</label>
                                <input asp-for="Input.PhoneNumber" id="Input_PhoneNumber" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div hidden class="form-floating">
                            <input value="1" asp-for="Input.UserType" class="form-control" autocomplete="new-password" aria-required="true" />
                        </div>

                   
                    </div>

                    <!-- Second Slide -->
                    <div id="second-slide" style="display: none;">
                        <div class="Two-Inputs-line">
                            <div class="form-floating">
                                <label asp-for="Input.TC">TC</label>
                                <input asp-for="Input.TC" class="form-control" />
                                <span asp-validation-for="Input.TC" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-6">
                                <label for="">Select Role</label>
                                <select asp-for="Input.CoordinatorId"
                                        asp-items="@Model.Input.CoordinatorList" class="form-select">
                                    <option disabled selected>-Select Role-</option>
                                </select>
                            </div>
                        </div>
                        <div class="Two-Inputs-line">
                            <div class="form-floating">
                                <label asp-for="Input.Faculty">Faculty</label>
                                <input asp-for="Input.Faculty" class="form-control" />
                                <span asp-validation-for="Input.Faculty" class="text-danger"></span>
                            </div>

                            <div class="form-floating">
                                <label asp-for="Input.Department">Department</label>
                                <input asp-for="Input.Department" class="form-control" />
                                <span asp-validation-for="Input.Department"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-floating">
                                <label asp-for="Input.Class">Class</label>
                                <input asp-for="Input.Class" class="form-control" />
                                <span asp-validation-for="Input.Class" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label" asp-for="Input.IsApproved">
                                <input class="form-check-input" type="checkbox"
                                       asp-for="Input.IsApproved" /> <p>
                                    Is
                                    Approved
                                </p>
                            </label>

                            <span asp-validation-for="Input.IsApproved" class="text-danger"></span>
                        </div>


                        <div class="form-check">
                            <label class="form-check-label" asp-for="Input.HasTakenFirstInternship">
                                <input class="form-check-input" type="checkbox"
                                       asp-for="Input.HasTakenFirstInternship"> <p>
                                    Has Taken First
                                    Internship
                                </p>
                            </label>

                        </div>

                        <div class="form-check">
                            <label class="form-check-label"
                                   asp-for="Input.HasTakenSecondInternship">
                                <input class="form-check-input" type="checkbox"
                                       asp-for="Input.HasTakenSecondInternship"> <p>
                                    Has Taken Second
                                    Internship
                                </p>
                            </label>

                        </div>

                        <div class="sendButton Add" id="Back-Button1">
                            <div class="backButton">
                                &#8592;Back
                            </div>
                        </div>
                    </div>
                    
                    <div class="sendButton Add">
                        <button style="    position: absolute;
    top: 78.5%;
    left: 75%;
}" id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">
                            Add User
                        </button>
                    </div>

                    <div class="sendButton Add">
                        <div class="post-btn" id="next-btn">Next&#8594;</div>

                    </div>
                    
                </form>

            </div>
           
        </div>
    </div>
    
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/adduser.js"></script>

    <script>

      


      
    </script>

    <script>


        $(document).ready(function () {
            // Register input change event handlers
            $('#Input_Role, #Input_Email, #Input_Password, #Input_ConfirmPassword, #Input_Name, #Input_PhoneNumber, #Input_TC').change(function () {
                validateInput($(this));
            });

            $('#registerForm').submit(function (event) {
                // Check if all required fields are filled
                var isValid = true;
                $('#registerForm .form-control').each(function () {
                    if ($(this).val() === '') {
                        isValid = false;
                        validateInput($(this));
                    }
                });

                if (!isValid) {
                   console.log("The inputs are not valid");
                    return;
                }

                // Submit the form using AJAX
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function (response) {
                        // Handle the success response
                    },
                    error: function (xhr, status, error) {
                        // Handle the error response
                    }
                });
            });

            var validateInput = function ($input) {
                var $parent = $input.closest('.form-floating');
                var $errorMessage = $parent.find('.text-danger');
                var inputValue = $input.val();
                var isValid = true;

                if (inputValue === '') {
                    isValid = false;
                    $errorMessage.text($input.attr('name') + ' field is required.');
                } else if ($input.attr('id') === 'Input_TC') {
                    isValid = checkTcNum(inputValue);
                    if (!isValid) {
                        $errorMessage.text('Please enter a valid Turkish ID number (TC).');
                    }
                }

                if (isValid) {
                    $errorMessage.text('');
                }
            };

            var checkTcNum = function (value) {
                value = value.toString();
                        var isEleven = /^[0-9]{11}$/.test(value);
                        var totalX = 0;
                        for (var i = 0; i < 10; i++) {
                            totalX += Number(value.substr(i, 1));
                        }
                        var isRuleX = totalX % 10 == value.substr(10, 1);
                        var totalY1 = 0;
                        var totalY2 = 0;
                        for (var i = 0; i < 9; i += 2) {
                            totalY1 += Number(value.substr(i, 1));
                        }
                        for (var i = 1; i < 9; i += 2) {
                            totalY2 += Number(value.substr(i, 1));
                        }
                        var isRuleY = ((totalY1 * 7) - totalY2) % 10 == value.substr(9, 1);
                        return isEleven && isRuleX && isRuleY;
            };
        });


        //$(document).ready(function () {
        //    $('#registerForm').submit(function (event) {
        //        event.preventDefault(); // Prevent form submission

        //        // Check if all required fields are filled
        //        var role = $('#Input_Role option:selected').val();
        //        var email = $('#Input_Email').val();
        //        var password = $('#Input_Password').val();
        //        var confirmPassword = $('#Input_ConfirmPassword').val();
        //        var name = $('#Input_Name').val();
        //        var phoneNumber = $('#Input_PhoneNumber').val();
        //        var tc = $('#Input_TC').val();

        //        if (role === "" || email === "" || password === "" || confirmPassword === "" || name === "" || phoneNumber === "" || tc === "") {
        //            // Display an error message or highlight the fields that need to be filled
        //            alert('Please fill in all the required fields.');
        //            return; // Exit the function
        //        }

        //        // Check TC ID validation
        //        var isValidTC = checkTcNum(tc);

        //        if (!isValidTC) {
        //            // Display an error message under the TC input indicating that the ID is invalid
        //            $('#Input_TC').siblings('.text-danger').text('Please enter a valid Turkish ID number (TC).');
        //            return; // Exit the function
        //        }

        //        // Additional validation logic
        //        // ...

        //        // If all validations pass, proceed with form submission
        //        this.submit();
        //    });

        //    var checkTcNum = function (value) {
        //        value = value.toString();
        //        var isEleven = /^[0-9]{11}$/.test(value);
        //        var totalX = 0;
        //        for (var i = 0; i < 10; i++) {
        //            totalX += Number(value.substr(i, 1));
        //        }
        //        var isRuleX = totalX % 10 == value.substr(10, 1);
        //        var totalY1 = 0;
        //        var totalY2 = 0;
        //        for (var i = 0; i < 9; i += 2) {
        //            totalY1 += Number(value.substr(i, 1));
        //        }
        //        for (var i = 1; i < 9; i += 2) {
        //            totalY2 += Number(value.substr(i, 1));
        //        }
        //        var isRuleY = ((totalY1 * 7) - totalY2) % 10 == value.substr(9, 1);
        //        return isEleven && isRuleX && isRuleY;
        //    };

        //});
    </script>
}


