
.forms p {
    color: #FFD504 !important;
}

.Account-Content {
  
    margin: 6rem 0 0 0;
}
.Files {
    display: flex;
    align-items: stretch;
}
.file1,
.file2,
.file3 {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 27px;
    padding: 1rem;
    margin: 0 1rem;
    width: 30%;
    justify-content: space-around;
    box-shadow: 2px 2px 30px 2px #00000015;
}

.title {
    margin: 2rem 0 2rem 1rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.text {
    margin: 0 1rem 1rem 1rem;
    line-height: 1.5;
    font-size: 1rem;
}

.deadline {
    margin: 0 0 1rem 1rem;
    font-weight: 700;
}

.FilesLinks {
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
}

#LinkStartButton {
    padding: 0.5rem 2rem;
    font-size: 16px;
    color: #fff !important;
    border: none !important;
    background-color: #FFD504 !important;
    border-radius: 21px;
    cursor: pointer;
}
