

.containers {
    background-color: #fff;
    box-shadow: 2px 2px 30px 2px #00000015;
    border-radius: 27px;
}

.RegisterForm {
    display: flex;
    padding: 2rem 2rem 3rem 2rem;
    flex-direction: column;
}

.Two-Inputs-line {
    display: flex;
    width: 100%;
    align-items: center;
}

.widget-right-side {
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: block;
    margin: 0 0 .5rem 0;
}

.inputs input,
.inputs select {
    box-sizing: border-box;
    border: solid #FFD504 2px;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
    margin: .5rem 0 0 0;
}

.form-floating {
    margin: 2% 0 0 0;
    width: 90%;
}

.Two-Inputs-line .form-floating {
    width: 45%;
    margin: 2% 10% 0 0;
}

.RegisterForm button {
    padding: 0.5rem 2rem;
    font-size: 18px;
    color: #fff !important;
    border: none !important;
    background-color: #FFD504 !important;
    border-radius: 21px;
    cursor: pointer;
}

/* .registerSubmit,
 */
.widget-right-side {
    padding: 2rem 2rem 1rem 2rem;
    font-size: 20px;
    font-family: inter;
    display: flex;
    font-weight: 600;
    align-items: center;
}

.sendButton {
    margin: 1rem 0 0 0;
}

#second-slide {
    display: none;
}

#next-btn {
    display: none;
}

.form-check input {
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    padding: 0;
    width: 14px;
    margin: 0;
}

.form-check {
    margin: 1rem 0 0 0;
    display: flex;
}

.sendButton {
    display: flex;
    justify-content: flex-end;
}

#Back-Button1 {
    display: flex;
    justify-content: flex-start !important;
    margin: 1rem 0 0 0;
}

.backButton,
.post-btn {
    padding: 0.5rem 2rem;
    font-size: 18px;
    color: #fff !important;
    border: none !important;
    background-color: #FFD504 !important;
    border-radius: 21px;
    cursor: pointer;
    width: 3rem;
}
