.SavedInternships {
    background-color: #F4F4F4;
    padding: 2rem;
    border-radius: 27px;
    margin: 2rem 0 0 0;
    overflow-y: scroll;
    height: calc(100vh - 25rem);
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
