@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Internship.Models;
@using Internship.Utility;
@model IEnumerable<Announcement>



<head>
    <link rel="stylesheet" href="~/css/Style.css asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CareerCenter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Announcements.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DataTable.css" asp-append-version="true" />

    <title>Events list</title>
</head>
<section class="announcements">
    <div class="annbox">
        <h3>Announcements</h3>
        <div class="announs">
            @foreach (var Announcements in Model.OrderByDescending(p => p.DatePosted).ToList())
            {

                 <a class="announ6" href="Announ3.html" id="announ6">
                    <h2 class="title6">@Announcements.Subject</h2>
                    <p class="text6" id="myParagraph">@Html.Raw(Announcements.Content)</p>
            </a>
                
            }
           

        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        var paragraph = $('#myParagraph');
        var text = paragraph.text();
        if (text.length > 16) {
            var truncatedText = text.substring(0, 16) + '...';
            paragraph.text(truncatedText);
        }
    });
</script>